@import url('https://fonts.googleapis.com/css?family=Roboto:weight@400;500&display=swap');
*{
     box-sizing:border-box;
     margin:0px;
     padding:0px;
}
body{
     background-color:#F9F9F9; 
     }
#menuBar_id{
     color: #606060;
     margin:13px 0;
     margin-right:0px;
     font-size: 20px;
     cursor:pointer;
     border:0px;
     margin-top:0px;
}
.youtubeHeader {
     background-color: White;
     width: 100%;
     position: fixed;
     top:0px;
     display:flex;
     flex-direction:row;
     justify-content:space-between;
     align-items: center;
     height:60px;
}
.youtubeLogo {
     display:flex;
     flex-direction:row;
     align-items:center;
     justify-content:space-between; 
}
#menuBar_id{
     padding-top:16px;
     padding-left:12px;
     padding-right:5px;
}

.youtubeLogoSVG{
     height:30px;
     margin: 7px;
     margin-top:10px;
     margin-left:10px;
     cursor: pointer;
}
.youtubeSearchBar{ 
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items:center;
}
.youtubeHeaderSearchInput{

     outline:none;
     padding: 4px;
     width : 30em;
     font-size: 15px;
     display: flex;
     flex-direction: center;
     justify-content:center;
     align-items:center;
}
 .youtubeHeaderSearchInput::-webkit-input-placeholder {
     font-size:17px;
 }
.searchIconHeader{
     padding: 8px;
     border: 1px solid grey;
     background-color: #F8F8F8;
     padding-right: 25px;
     padding-left: 25px;
     outline: none;
     cursor: pointer;

}
.searchIconHeader i{
     color :#606060;
     font-size:15px;
}
.youtubeHeaderIcons{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;  
     padding-left: 10px;
}

.youtubeHeaderIcon{ 
     color: #606060;
     margin:13px 0;
     margin-right:20px;
     font-size: 20px;
     cursor:pointer;
}
.youtubeBottomSection{ 
     display: flex;
     flex-direction: row;
}

.youtubeSidebar{
     margin-top:50px;
     display:flex;
     flex-direction: column;
     background-color: white;
     width: 250px;
     height: 100vh; /* view height ( maximum viewable height in screen at an instance)*/
     position:fixed; /*position: relative fixed*/
     left:0;  /*position of the side bar begins from the left most position.*/
}
.youtubeSidebarField{
     display: flex;
     flex-direction: center;
     align-items:center;
     width:100%;
     margin:5px;
     cursor:pointer;
     padding-left: 10px;
}
.youtubeSidebarField :hover{
     background-color:#e5e5e5ab;
}
.youtubeSidebarField i {
     font-size: 15px;
     color:#606060;
     margin: 10px;
     margin-right:25px;
     margin-left:20px;
     
}
.youtubeSidebarField h1{
     font-size: 15px;
     font-family:'Roboto';
     font-weight: 500;
}
.youtubeSidebar_hr{
     height:1px;
     border-top:1px solid rgba(128,128,128,0.379);
     width:100%;
     margin:10px;
}

.youtubeVideos{
     display: flex;
     flex-wrap: wrap;
     margin-top:60px;
     flex:1;
     margin-left: 250px;
     width: 100%;

}
.youtubeVideo{
     display: flex;
     flex-direction:column;
     height: fit-content;
     width: 270px;
     padding:5px;
     cursor:pointer;
}
.youtubeVideoThumbnail{
     height: auto;
     width:260;
}
.youtubeVideoDetails{
     /* display:flex; */
     /* flex-direction: row; */
}
.youtubeChannelThumbnail{
     border-radius: 200px;
     border-color: rgba(255,255,255,0.);
     height: 40px;
     margin-top: 12px;
     padding: 5px;
}

/* .youtubeChannelThumbnail i {   not needed 
     border-radius: 200px;
     height: 40px;
     margin-top: 12px;
} */
.youtubeVideoDetailsText{
     /* display: flex; */
     /* flex-direction:column; */
}
.youtubeVideoTitle{
     font-size: 13px;
     font-family:'Roboto';
     color: black;
     font-weight:500;
     margin: 10px;
     margin-top:12px;
     margin-bottom: 0;
     margin-left:0px;
}
.youtubeVideoViews{
     font-size: 12px;
     font-family:'Roboto';
     color:#606060;
     font-weight:400;
     margin-top:12px;
     margin-left:0px;
}