*{
     margin: 0px;
     padding: 0px;

}

body{
     margin: 0px;
     padding:0px;
}





.main-body{
     padding:0px;
     border:0px;
}
.top{
     width: 100%;
     height : 40px;
     background:rgb(21, 185, 185);
     color:lightblue;
}

.body{
     width: 100%;
     height: 500px;
     background: rgb(29, 204, 29);
     border:0px;
     margin-bottom: none;
}
.left-main-body{
     width :20%;
     height: 500px;
     float: left;
     background:lightblue;
}

.right-main-body{
     width:80%;
     float:right;
     background:lightpink;
}
.bottom{
     margin-top: 0px;
     padding-top:0px ;
     width:100%;
     height: 60px;
     background:rgb(194, 194, 14);
}

